@model _Net.Models.Usuario

@{
    ViewData["Title"] = "Create User";
}

<h4>Create User</h4>

<form asp-action="Create" method="post" class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Constraseña</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Rol" class="form-label">Rol</label>
        <select asp-for="Rol" class="form-select">
            <option value="Administrador">Administrador</option>
            <option value="Empleado">Empleado</option>
        </select>
        <span asp-validation-for="Rol" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista de usuarios</a>
</form>
